@media print,
screen {
    @page {
        margin: 0;
        border: 1px solid black
    }

    body {
        /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
        font-size: 18px !important;
    }

    a:link {
        text-decoration: none !important;
    }

    a:visited {
        text-decoration: none !important;
    }

    a:hover {
        text-decoration: none !important;
    }

    a:active {
        text-decoration: none !important;
    }

    .main-header {
        background-color: #dceefd;
        color: #000000;
        padding: 30px 65px;
    }

    .name {
        font-size: 30px;
        color: #0d157a;
        font-weight: bold;
        /* text-transform: uppercase; */
    }

    .highlighter{
        color: #0f5ddf;;
    }

    .designation {
        font-size: 18px;
        font-weight: bold;
        
    }

    .summary {
        margin-top: 15px;
        text-align: justify;
    }

    .contacts {
        
        background-color: #b1d2f7;
        color: #000000;
    }

    .contacts a {
        color: #000000;
        padding-left: 5px;
    }

    .contacts-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .section-title {
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .container .row {
        margin-top: 25px;
    }

    .item {
        padding: 5px 10px;
        margin: 5px;
        background-color: #2874dc;
        color: #ffffff;
        font-size: 15px;
    }

    .strengths {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-top:10px;
    }

    .exp{
        margin-top: 10px;
    }

    .exp-company{
        font-weight: bold;
        font-size: 20px;
        color: #0d157a;
    }
    .experience-item{
       border-bottom: dotted #d6d6d6;
    }

    .exp-duration {
        font-style: italic;
    }

    .project {
        margin-top: 10px;
    }

    .project-list {
        margin-left: 25px;
    }

    .project-title {
        font-size: 20px;
    }

    .project-highlights ul li::marker {
        color: #313C4E
    }

    .education {
        margin-left: 25px;
        margin-top: 10px;
    }

    .collage-name {
        font-weight: bold;
    }

    .degree {
        font-style: italic;
    }

    .skill-title{
        color: #0d157a;
        font-weight: bold;
    }
}